<p>Testing infrastructure working!</p>
<form action="/names" method="post">
  <input type="text" name="player_1" placeholder="Player 1"></input>
  <input type="text" name="player_2" placeholder="Player 2"></input>
  <input type="submit" value="Submit"></input>
</form>